.card {
    padding: 20px;
    /* background-color: red; */
    /* border:1px solid red; */
  }


.custom-outline .MuiOutlinedInput-notchedOutline {
    border-color: green;
    margin-bottom: '50px'
  }
  
  .custom-outline.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: green;
  }